# From SQL to *pandas*

<img src="https://www.dataquest.io/blog/images/social_share/sql-pandas.png" width="350px" style="margin: 20px auto;">

Raquel Araujo

# Who am I?
<img src="Raquel_NASA.jpg" width="300px" style="float: left;">
* Peru!
* Economics
* Product Scientist @Indeed
* SQL - Python - pandas

# What will this talk be about?

Translating SQL into *pandas*.

However, even if you don't know SQL, you will learn the basics of *pandas*.

# What is SQL?

* SQL stands for Structured Query Language. 
* It is a domain-specific language used in programming and designed for managing and processing data held in a relational database management system.
* Syntax is similar to how we speak.

# What about *pandas*?

* *pandas* is an open source library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.
* Created by Wes McKinney
* Thanks to *pandas* we can carry out our entire data analysis workflow in Python without having to switch to a more domain specific language like R.

# Let's get started!

# Preparation

In [1]:
# Importing statements
# pip install pandas
# pip install numpy

import pandas as pd
import numpy as np

In [2]:
# Bringing in the data. This is just an example!

url = 'https://raw.github.com/pandas-dev/pandas/master/pandas/tests/data/tips.csv'

# read_csv is a pandas function that allows us to read in files in csv format
# tips is now a dataframe in pandas
tips = pd.read_csv(url)

In [3]:
# We can take a look at what's inside -tips-
# If it is a large table, it may not fit in the screen.

tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
# By using .head() we can select the top N rows
# the default is 5

tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# SELECT

SELECT helps us choose the columns that we want to keep. We usually just list the column names separated by a comma.

In *pandas*, we pass a list (which are strings ALSO separated by a comma) but inside brackets.  
['colname1', 'colname2']

SELECT total_bill, tip, day, time  
FROM tips  
LIMIT 7;

In [23]:
# We can do this in pandas with 'df[...]' 
# inside the brackets we can pass a list(1+ elements) to our dataframe

tips1 = tips[['total_bill', 'tip', 'day', 'time']].head(7)

tips1

   total_bill   tip  day    time
0       16.99  1.01  Sun  Dinner
1       10.34  1.66  Sun  Dinner
2       21.01  3.50  Sun  Dinner
3       23.68  3.31  Sun  Dinner
4       24.59  3.61  Sun  Dinner
5       25.29  4.71  Sun  Dinner
6        8.77  2.00  Sun  Dinner

We can also just select ONE column

SELECT total_bill  
FROM tips

In [6]:
tips[['total_bill']].head()

   total_bill
0       16.99
1       10.34
2       21.01
3       23.68
4       24.59

By using * we are selecting all columns  

SELECT *  
FROM tips  
LIMIT 5;

In [7]:
# We can use the same code as before, no need add brakets after the dataframe name

tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# WHERE

SQL uses WHERE to filter at the row level.

*pandas* uses "[boolean indexing](http://pandas.pydata.org/pandas-docs/stable/indexing.html#boolean-indexing)"
* & for AND
* | for OR
* ~ for NOT

SELECT *  
FROM tips  
WHERE sex = 'Female'  
LIMIT 5;

In [24]:
# In pandas, we create a comparison which gives us a boolean series in return
# tips[]
# tips['sex'] == 'Female'

tips[tips['sex'] == 'Female'].head()

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
11       35.26  5.00  Female     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2
16       10.33  1.67  Female     No  Sun  Dinner     3

In [26]:
# We can take a look at what is inside 
# We are comparing every row in the column 'sex' with 'Female'
# pandas then keeps only those rows with 'True'

# tips[tips['sex'] == 'Female']
tips['sex'] == 'Female'
# tips['sex']

0       True
1      False
2      False
3      False
4       True
5      False
6      False
7      False
8      False
9      False
10     False
11      True
12     False
13     False
14      True
15     False
16      True
17     False
18      True
19     False
20     False
21      True
22      True
23     False
24     False
25     False
26     False
27     False
28     False
29      True
       ...
214     True
215     True
216    False
217    False
218    False
219     True
220    False
221     True
222    False
223     True
224    False
225     True
226     True
227    False
228    False
229     True
230    False
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238     True
239    False
240     True
241    False
242    False
243     True
Name: sex, Length: 244, dtype: bool

We can also filter on multiple conditions

SELECT *   
FROM tips  
WHERE time = 'Dinner' AND tip > 5.00;

In [10]:
# Each condition needs to go between parentheses and grouped accordingly

# time = 'Dinner'
# tips['time'] == 'Dinner'

# tip > 5.00
# tips['tip'] > 5.00

# time = 'Dinner' AND tip > 5.00
(tips['time'] == 'Dinner') & (tips['tip'] > 5.00)

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23      True
24     False
25     False
26     False
27     False
28     False
29     False
       ...
214     True
215    False
216    False
217    False
218    False
219    False
220    False
221    False
222    False
223    False
224    False
225    False
226    False
227    False
228    False
229    False
230    False
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238    False
239     True
240    False
241    False
242    False
243    False
Length: 244, dtype: bool

In [27]:
condition2 = (tips['time'] == 'Dinner') & (tips['tip'] > 5.00)
tips[condition2].head()

    total_bill   tip     sex smoker  day    time  size
23       39.42  7.58    Male     No  Sat  Dinner     4
44       30.40  5.60    Male     No  Sun  Dinner     4
47       32.40  6.00    Male     No  Sun  Dinner     4
52       34.81  5.20  Female     No  Sun  Dinner     4
59       48.27  6.73    Male     No  Sat  Dinner     4

SELECT *  
FROM tips  
WHERE size >= 5 OR total_bill > 45;

In [12]:
# OR in pandas is "|"

tips[(tips['size'] >=5) | (tips['total_bill'] > 45)].head()

     total_bill   tip     sex smoker   day    time  size
59        48.27  6.73    Male     No   Sat  Dinner     4
125       29.80  4.20  Female     No  Thur   Lunch     6
141       34.30  6.70    Male     No  Thur   Lunch     6
142       41.19  5.00    Male     No  Thur   Lunch     5
143       27.05  5.00  Female     No  Thur   Lunch     6

# GROUP BY

When we want to split the dataset into groups, apply some function.

*pandas* has a similar method named groupby().

Say we want to know the number of tips left by sex.

SELECT sex, count(*)  
FROM tips  
GROUP BY sex;

|Sex | Count|
|-----|-----|
|Female|87|  
|Male|157|

In [13]:
# In pandas there is a count() function. It returns the number of not null values.
# But...
# df.groupby(col_group).sum(), .mean(), .max()
tips.groupby('sex').count()
# notice that the column "sex" has disappeared

        total_bill  tip  smoker  day  time  size
sex
Female          87   87      87   87    87    87
Male           157  157     157  157   157   157

In [28]:
# If we just want to get one column instead of all:

tips.groupby('sex')['total_bill'].count()

sex
Female     87
Male      157
Name: total_bill, dtype: int64

In [15]:
# Alternatively, we could have used size() instead of count()
# This is an example of trial and error.

tips.groupby('sex').size()

sex
Female     87
Male      157
dtype: int64

Applying multiple functions at once. In this case, we want to group by day and get the average daily tip and the number of dinners per day.

SELECT day, AVG(tip), COUNT(*)  
FROM tips  
GROUP BY day;

In [29]:
# We start grouping by day
tips.groupby('day')

# Then we use the agg() method that allows us to do multiple calculations on 
# the dataframe. We need to pass a dictionary to agg() with this syntax:
# {'col_name1': 'calc1', 'col_name2': calc21, 'col_name2': calc22}

# To get the mean, we will use the NumPy function np.mean, to get the count,
# we will use np.size

tips.groupby('day').agg({'tip': [np.mean ,np.sum],
                         'day': np.size})

           tip          day
          mean     sum size
day
Fri   2.734737   51.96   19
Sat   2.993103  260.40   87
Sun   3.255132  247.39   76
Thur  2.771452  171.83   62

We can also group by more than one column. 

SELECT smoker, day, COUNT(*), AVG(tip)  
FROM tips  
GROUP BY smoker, day;

In [17]:
# We pass a list instead of just the name of the column
tips.groupby(['smoker', 'day']).agg({'tip': [np.size, np.mean]})

              tip
             size      mean
smoker day
No     Fri    4.0  2.812500
       Sat   45.0  3.102889
       Sun   57.0  3.167895
       Thur  45.0  2.673778
Yes    Fri   15.0  2.714000
       Sat   42.0  2.875476
       Sun   19.0  3.516842
       Thur  17.0  3.030000

# Useful links

[Pandas Overview](http://pandas.pydata.org/)

[Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/comparison_with_sql.html)

[PyData 2014 talk: From SQL to Pandas. And Back](https://www.youtube.com/watch?v=1uVWjdAbgBg)